:host{
  transition: display 5s ease-out;
}
.menu-card {
  padding: 0;
}

.menu-item {
  //padding: 0 10px 0 10px;
}

.mat-nav-list a.active {
  background: blue;
}

.mat-list-item {
  //background: red
}

