<mat-card class="menu-card mat-elevation-z4">
  <!--<mat-card-header fxLayoutAlign="center">-->
  <!--<avatar style="width: 60px;height: 60px"-->
  <!--[email]="'Your Email'"-->
  <!--[name]="'Your Name'"-->
  <!--[displayType]="'circle'">-->
  <!--</avatar>-->
  <!--</mat-card-header>-->
  <mat-card-content>

    <mat-selection-list #filters
                        (ngModelChange)="onSelectedOptionsChange($event)"
                        (selectionChange)="onSelectedFiltersChange($event)"
                        [ngModel]="selectedFilters">

      <mat-list-option>
        <div fxLayout="row">
          <mat-icon>done_all</mat-icon>
          <span class="menu-item"> All contacts</span>
        </div>
      </mat-list-option>

      <mat-list-option value="filters.PRIVATE">
        <div fxLayout="row">
          <mat-icon color="">lock</mat-icon>
          <span class="menu-item"> Private contacts</span>
        </div>
      </mat-list-option>

      <mat-list-option [value]="filters.SHARED">
        <div fxLayout="row">
          <mat-icon>shared</mat-icon>
          <span class="menu-item">Shared contacts</span>
        </div>
      </mat-list-option>

      <mat-list-option [value]="filters.RECENTLY">
        <div fxLayout="row">
          <mat-icon>history</mat-icon>
          <span class="menu-item">Recently contacted</span>
        </div>
      </mat-list-option>

    </mat-selection-list>

    <p>Selected: {{selectedFilters | json}}</p>
  </mat-card-content>
</mat-card>
